body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

pre,
pre * {
  font-family: "MS Gothic", Osaka-Mono, "Courier New", Courier, monospace;
  tab-size: 4;
}

span {
  margin: 5px 15px;
}

iframe,
pre,
ul,
ol,
blockquote,
table,
input {
  margin: 5px 15px;
}

p {
  margin: 15px;
}

ul,
ol {
  padding-left: 20px;
}

h1 {
  margin: 0;
  padding: 0 10px;
  background-color: #ffbbff;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 0 10px;
  background-color: #ffffbb;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background: #b0d4e5;
}

th,
td {
  padding: 0.5em;
  border: 1px solid black;
}
